{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 mb-4">
            <div class="card blog-card">
                <img src="{{ blog.image_url }}" class="card-img-top" alt="Blog Image">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content[:150] }}...</p>
                    <a href="/blogs/{{ blog.id }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}