{% extends 'base.html' %}

{% block content %}

<!-- Team 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Mentors</h2>
        <p class="text-secondary mb-5 text-center lead fs-4"> </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0 gx-xxl-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="img-fluid" loading="lazy" src="{{ url_for('static', filename='images/swalpa.png') }}" alt="Flora Nyra">
              <figcaption class="m-0 p-4">
                <h5 class="mb-1">Dr. Swalpa Kr. Roy</h5>
                <p class="text-secondary mb-0">Computer Vision Researcher & Professor</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="img-fluid" loading="lazy" src="{{ url_for('static', filename='images/sgorthi.png') }}" alt="Evander Mac">
              <figcaption class="m-0 p-4">
                <h5 class="mb-1">Dr. RK Sai S. Gorthi</h5>
                <p class="text-secondary mb-0">Deep Learning Researcher & Professor</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="img-fluid" loading="lazy" src="{{ url_for('static', filename='images/kbiswas.png') }}" alt="Taytum Elia">
              <figcaption class="m-0 p-4">
                <h5 class="mb-1">Dr. Koushik Biswas</h5>
                <p class="text-secondary mb-0">Post Doc. Computer Vision Researcher</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="img-fluid" loading="lazy" src="{{ url_for('static', filename='images/asit.jpg') }}" alt="Taytum Elia">
              <figcaption class="m-0 p-4">
                <h5 class="mb-1">Dr. Asit Barman</h5>
                <p class="text-secondary mb-0">Computer Vision Researcher & Professor</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="img-fluid" loading="lazy" src="{{ url_for('static', filename='images/bikash.jpg') }}" alt="Wylder Elio">
              <figcaption class="m-0 p-4">
                <h5 class="mb-1">Dr. Bikash kr. Choudhury</h5>
                <p class="text-secondary mb-0">Researcher and Professor</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
